@using BakokiWeb.Shared;
@inject Blazored.LocalStorage.ILocalStorageService LocalStore
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="Log_Out" class="button">Log Out</button>
        </div>

        <article class="content px-4">
            
            @Body
        </article>
    </main>
</div>

@code{
    Cliente? cli = new();
    protected override async Task OnInitializedAsync()
    {
        List<Cuenta> cuentas = new();
        var userEmail = await LocalStore.GetItemAsStringAsync("email");
        var list = await Http.GetFromJsonAsync<List<Cliente>>($"api/Cliente/{userEmail}");
        if (list is not null)
        {
            cli = list.FirstOrDefault();
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }
    public async void Log_Out()
    {
        if(cli is not null)
        {
            await Http.PutAsJsonAsync<Cliente>($"api/Cliente/put/0/{ cli.Email}",cli);
            await LocalStore.ClearAsync();
            NavigationManager.NavigateTo("/");
        }
        
    }
}